:root {
    --bg-colour:  #1b262cff;
    --surface-colour: #23343dff;
    --highlight-colour: #3282b8ff;
    --shadow-colour: #323c41ff;
  }

* {
    margin: 0;
    padding: 0;
    border: 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    outline: none;
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: white;
}

body {
    background-color: var(--bg-colour);
    overflow-x: hidden;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

section {
    max-width: 60em;
    width: 100%;
    margin: 0 auto;
}

button {
    font-size: 1.2em;
    background-color: var(--highlight-colour);
    border-radius: 1em;
    padding: 0.25em;
    margin: 0.25em;
    cursor: pointer;
    transition: 0.2s;
    width: 100%;
    max-width: 10em;
}

input, textarea {
    background-color: transparent;
    border: 1px solid var(--shadow-colour);
    border-radius: 1em;
    display: block;
    margin: 0.25em auto;
    padding: 0.25em 0.75em;
    width: 100%;
    max-width: 25em;
}

input[type="submit"] {
    font-size: 1.2em;
    background-color: var(--highlight-colour);
    border-radius: 1em;
    padding: 0.25em;
    margin: 0.25em;
    cursor: pointer;
    transition: 0.2s;
    margin: 0 auto;
    width: 100%;
    max-width: 10em;
    margin-left: auto;
    margin-right: auto;
}

.social-icons {
    position: fixed;
    top: 0.5em;
    right: 1em;
    z-index: 1;
    transition: 0.3s;
}

.--invisible {
    opacity: 0;
    scale: 0;
}

    .social-icon {
        max-width: 2.5em;
        width: 100%;
        margin: 0 0.5em;
        transition: 0.3s;
        cursor: pointer;
        text-decoration: none;
    }

.header {
    height: 100vh;
    width: 100%;
    background-image: url("assets/background-images/header-background.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

    .header__title {
        position: relative;
        top: 40%;
        transform: translateY(-50%);
    }

    .header__social-icons {
        margin-top: 1em;
        transition: 0.3s;
    }

    .header__scroll-icon {
        position: absolute;
        width: 50px;
        height: 50px;
        bottom: 40px;
        left: calc(50% - 25px);
        animation: bounce 2s ease 0s infinite normal; 
        cursor: pointer;
    }

.about-section {
    background-color: var(--surface-colour);
    border-radius: 0.75em;
}

    .about-section__main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .about-section__image {
            max-width: 100%;
            width: calc(33% + 4em);
            height: auto;
            border-radius: 50%;
            padding: 1em;
        }

        .about-section__info {
            padding: 1em;
        }

    .about-section__buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5em;
    }
    .about-section a {
        margin: 0.3em;
        padding: 0;
        text-decoration: none;
        width: 100%;
        max-width: 12em;
    }

    .about-section a button {
        margin: 0;
    } 

.background-rhs {
    width: 20em;
    position: relative;
    left: calc(90% - 20em);
    z-index: -1;
}

.project-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    .project-section__title {
        text-align: center;
    }

    .project-card {
        background-color: var(--surface-colour);
        border-radius: 0.75em;
        width: 100%;
        max-width: calc(50% - 1em);
        display: flex;
        flex-direction: column;
        margin: 0.25em;
        padding: 1em;
    }

        .project-card__image {
            width: 100%;
        }

        .project-card__icons {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

            .tech-icon__image {
                max-height: 2.5em;
                margin: 0.5em;
                transition: 0.3s;
            }

            .tech-icon__caption {
                font-size: 0em;
                white-space: nowrap;
                opacity: 0;
                transition: 0.3s;
                position: absolute;
                left: 50%;
                bottom: 0em;
                transform: translateX(-50%);
            }

        .project-card__description {
            margin-bottom: 1em;
        }

        .project-card__buttons {
            width: 100%;
            margin-top: auto;
            display: flex;
            justify-content: space-around;
        }

            .project-card__button {
                font-size: 1.2em;
                text-align: center;
                text-decoration: none;
                background-color: var(--highlight-colour);
                border-radius: 1em;
                padding: 0.25em;
                margin: 0.25em;
                transition: 0.2s;
                width: 100%;
                max-width: 10em;
            }

.background-lhs {
    width: 20em;
    position: relative;
    left: calc(10%);
    z-index: -1;
}

.contact-section {
    background-color: var(--surface-colour);
    border-radius: 0.75em;
    padding: 1em;
}

    .contact-section p {
        text-align: center;
    }

    .contact-section__title {
        text-align: center;
    }

    .contact-section__contact-info {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

        .contact-section__contact-info div {
            display: flex;
            margin: 0 1em;
        }

        .email-icon {
            height: 2em;
            margin: 0 0.5em;
        }

        .phone-icon {
            height: 2em;
            margin: 0 0.5em;
        }

        .no-wrap {
            white-space: nowrap;
        }

.footer {
    height: 100vh;
    width: 100%;
    background-image: url("assets/background-images/footer-background.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

    .footer__github-link {
        position: absolute;
        font-size: 1em;
        bottom: 0.5em;
        left: 1em;
        white-space: nowrap;
    }

    .footer__top-button {
        position: absolute;
        bottom: 2em;
        left: calc(50% - 5em);
    }


@media screen and (max-width: 1400px) {
    section {
        margin: 0 5em;
        width: calc(100% - 10em);
    }
}

@media screen and (max-width: 1200px) {
    * {
        font-size: 18px;
    }
}

@media screen and (max-width: 1000px) {
    * {
        font-size: 16px;
    }
    .about-section__main {
        flex-direction: column;
    }
    .about-section__image {
        width: 60%;
    }
    .project-section {
        flex-direction: column;
        align-items: center;
    }
    .project-card {
        max-width: 29em;
    }
}

@media screen and (max-width: 800px) {
    * {
        font-size: 14px;
    }
    section {
        margin: 0 2em;
        width: calc(100% - 4em);
    }
    .about-section__buttons {
        flex-direction: column;
    }
}

@media (hover: hover) and (pointer: fine) {

    button:hover{
        color: var(--shadow-colour);
        transform: scale(105%);
    }

    input[type="submit"]:hover {
        color: var(--shadow-colour);
        transform: scale(105%);
    }

    .social-icon:hover img {
        transform: scale(105%);
    }

    .about-section a:hover {
        color: var(--shadow-colour);
    }

    .tech-icon:hover .tech-icon__image {
        transform: translateY(-0.5em);
    }
    
    .tech-icon:hover .tech-icon__caption {
        font-size: 0.8em;
        opacity: 100%;
    }

    .project-card__button:hover {
        color: var(--shadow-colour);
        transform: scale(105%);
    }
}

@media (hover: none) and (pointer: coarse) {
    
    button:active {
        color: var(--shadow-colour);
        transform: scale(105%);
    }

    input[type="submit"]:active {
        color: var(--shadow-colour);
        transform: scale(105%);
    }

    .social-icon:active img {
        transform: scale(105%);
    }

    .about-section a:active {
        color: var(--shadow-colour);
    }

    .tech-icon:hover .tech-icon__image {
        transform: translateY(-0.5em);
    }
    
    .tech-icon:hover .tech-icon__caption {
        font-size: 0.8em;
        opacity: 100%;
    }

    .project-card__button:active {
        color: var(--shadow-colour);
        transform: scale(105%);
    }
}

@media screen and (max-width: 500px) {
    .footer__github-link {
        left: 50%;
        transform: translateX(-50%);
    }
}

  @keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    30% {
        transform: translateY(0px);
    }
    40% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(0px);
    }
    60% {
        transform: translateY(-10px);
    }
    70% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(0px);
    }
}
