:root {
    --bg-colour:  #1b262cff;
    --surface-colour: #23343dff;
    --highlight-colour: #3282b8ff;
    --shadow-colour: #323c41ff;
  }

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: white;
}

body {
    background-color: var(--bg-colour);
    overflow-x: hidden;
}

h1 {
    font-size: 90px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

.button-link {
    background-color: var(--highlight-colour);
    border-radius: 15px;
    text-decoration: none;
    padding: 5px 20px;
    align-self: center;
    margin: auto 0 20px 0;
}

.button-link:hover {
    padding: 7px 22px;
    margin: auto 0 16px 0;
}

.portrait {
    max-width: 100%;
    width: calc(33% + 60px);
    height: auto;
    border-radius: 50%;
    align-self: center;
    padding: 30px;
}

.project-description {
    margin-bottom: 50px;
}

.project-img {
    max-width: 100%;
    height: auto;
    align-self: center;
}

.content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.card {
    background-color: var(--surface-colour);
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
    position: relative;
}

.header {
    height: 100vh;
    width: 100%;
    background-image: url("assets/oceanic-background-image.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-squid {
    width: 400px;
    position: relative;
    left: 90%;
    margin: 0px 0px -60px 0px;
    transform: translateX(-100%);
    z-index: -1;
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.horizontal-content-center {
    text-align: center
}

.main-title {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
}

.section-title {
    margin: 0px 5px 10px 5px;
}

.flex-container-responsive {
    display: flex;
}

.flex-container-contacts {   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.horizontal-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.vertical-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-txt {
    flex: 70%;
    padding: 30px;
}

.flex-card {
    flex: 50%;
    padding: 30px;
}

.flex-spacer {
    width: 100%;
    max-width: 40px;
}

.no-wrap {
    white-space: nowrap;
}

.email-icon {
    width: 35px; 
    height: 35px;
    margin: 0 10px;
}

.phone-icon {
    width: 23.8px; 
    height: 35px;
    margin: 0 10px;
}

input, textarea {
    background-color: transparent;
    border: 1px solid var(--shadow-colour);
    border-radius: 15px;
    display: block;
    margin: 5px auto;
    padding: 0 15px;
    width: 100%;
    max-width: 500px;
}
button {
    background-color: var(--highlight-colour);
    border-radius: 15px;
    padding: 5px 20px;
    margin: 10px 0;
}


button:hover {
    padding: 7px 22px;
    margin: 8px 0;
}

@media screen and (max-width: 1300px) {
    .content {
        margin: 0 50px;
        width: calc(100% - 100px);
    }
}

@media screen and (max-width: 840px) {
    h1 {
        font-size: 70px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 25px;
    }
    .portrait {
        width: 80%;
    }
    .flex-container-responsive {   
      flex-direction: column;
    }
    .vertical-center {
        top: 0%;
        transform: none;
    }
    .background-squid {
        width: 300px;
    }
  }

  @media screen and (max-width: 480px) {
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 25px;
    }
    .content {
        margin: 0 20px;
        width: calc(100% - 40px);
    }
    .background-squid {
        width: 200px;
    }
  }
